In [1]:
import pandas as pd
import seaborn as sns

diamonds = sns.load_dataset('diamonds')

In [2]:
diamonds_df = pd.DataFrame(diamonds)
diamonds_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
print(
    f"diamond cut, color, and clarity are given by:\ncut: {diamonds_df.cut.nunique()},\ncolor: {diamonds_df.color.nunique()},\nclarity: {diamonds_df.clarity.nunique()}"
)

diamond cut, color, and clarity are given by:
cut: 5,
color: 7,
clarity: 8

In [5]:
diamonds_df.shape

(53940, 10)

In [6]:
# inclue=object to describe categorical variables
diamonds_df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
diamonds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

## Column selection

- Select specific columns from the dataset. Columns in pandsas dataframe can be accessed in two simple ways:
  - dot notation: . operator
  - bracket notation: [] operator
- Example:
  - diamonds_df.cut is equivalent to diamonds_df['cut']

## Note:

- There are situations where the dot operator cant be used:
  - When a column name contains spaces: diamonds*df.cut $\neq$ diamonds_df["\_cut*"] <- here "\_" is a "space"
  - when a column name is an integer: diamonds_df.1 $\neq$ diamonds_df[1]
  - _when creating a new column_

### Select all rows corresponding to diamonds that have the _Ideal_ cut and store them in a separate dataframe.

- Can be done using the `loc` functionality:

In [11]:
diamonds_low_df = diamonds_df.loc[diamonds_df['cut'] == 'Ideal']
diamonds_low_df.head()

    carat    cut color clarity  depth  table  price     x     y     z
0    0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11   0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13   0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16   0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39   0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78

In [13]:
# Add price per carat column to the dataframe
diamonds_df['price_per_carat'] = diamonds_df['price'] / diamonds_df['carat']
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161

> Look at _conditional addition of columns_. Add a column based on the value in `price_per_carat`, anything more than 3500 as high (coded as 1) and anything less than 3500 as low (coded as 0).

In [15]:
import numpy as np

# [xv if c else yv for c, xv, yv in zip(condition, x, y)]
# [xz for xz in diamonds_df['price_per_carat'] if xz > 3500
diamonds_df['price_per_carat_high'] = np.where(
    diamonds_df['price_per_carat'] > 3500, 1, 0)
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_high
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304,0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952,0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130,0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138,0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161,0

In [26]:
# Applying a simple function on the columns:
diamonds_df['price'] = diamonds_df['price'] * 1.3
# diamonds_df['price'].astype(int)
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_high,rounded_price
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,326
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,326
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,327
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,334
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,335

In [27]:
# round off the price of diamonds to its ceil
# diamonds_df.head()

# diamonds_df['price'] = diamonds_df.price.astype(int)
# diamonds_df

In [28]:
import math
# diamonds_df['rounded_price'] = diamonds_df['price'] * 1.3
diamonds_df['rounded_price'] = diamonds_df['price'].apply(math.ceil)
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_high,rounded_price
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436

In [29]:
diamonds_df['rounded_price_to_100multiple'] = diamonds_df['price'].apply(
    lambda x: math.ceil(x / 100) * 100)
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_high,rounded_price,rounded_price_to_100multiple
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424,500
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424,500
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426,500
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435,500
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436,500

In [30]:
# Now as a user-defined function to round off the price of diamonds to the nearest multiple of 10# Now as a user-defined function to round off the price of diamonds to the nearest multiple of 1000

import math as mt


def get_100_multiple_ceil(x):
    y = mt.ceil(x / 100) * 100
    return y


diamonds_df['rounded_price_to_100multiple'] = diamonds_df['price'].apply(
    get_100_multiple_ceil)
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_high,rounded_price,rounded_price_to_100multiple
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424,500
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424,500
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426,500
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435,500
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436,500

In [31]:
# ch.1, exercise 5
diamonds_df_exercise = diamonds


def is_desired(x):
    bool_var = 'yes' if (x['cut'] == 'Ideal' and x['color'] == 'D') else 'no'
    return bool_var


diamonds_df_exercise['desired'] = diamonds_df_exercise.apply(is_desired,
                                                             axis=1)
diamonds_df_exercise.head()

   carat      cut color clarity  depth  table  price     x     y     z desired
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43      no
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31      no
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31      no
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63      no
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75      no

In [ ]:
# ch.1, exercise 6
diamonds_df = diamonds
diamonds_df['price_per_carat'] = diamonds_df['price'] / diamonds_df['carat']